.btnMoreInfo {
  margin-top: 10px;
  background: #630460;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}
