.btnMoreInfo {
  margin-top: 10px;
  background: #630460;
  color: #fff;
  border-color: transparent;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}
.btnMoreInfo:hover {
  border: 1px solid #ec008c;
  background: #fff;
  color: #ec008c;
}
