.emptyCart{
    text-align: center;
    padding: 120px 0px;
}
.emptyCart p{
    margin: 15px 0px;
    font-size: 12px;
}
.emptyCart button{
    all: unset;
    font-size: 13px;
    background-color: #630460;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}