.productDetail {
  padding: 40px 0;

  .container {
    background-color: #fff;
  }

  .infoDetail {
    padding-top: 15px;

    .header {
      border-bottom: 1px solid #aaa;
      margin-bottom: 15px;

      .productName {
        font-size: 14px;
        line-height: 25px;
        margin: 20px 0 15px;
      }

      .subTitle {
        display: flex;
        align-items: baseline;
        justify-content: end;
        margin-bottom: 30px;
        .rating {
          position: relative;
          svg {
            font-size: 14px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            // height: 25px;
            height: 20px;
            background-color: #777;
            right: -8px;
          }
        }

        .model {
          font-size: 10px;
          flex-grow: 1;
          text-align: left;
          color: #333;
          margin-left: 16px;
        }
      }
    }

    .bodyDetail {
      position: relative;

      .PopularProduct {
        position: absolute;
        display: flex;
        left: 0;
        top: 30px;

        span {
          margin: 5px;
          padding: 2px 6px;
          border-radius: 20%;
          border: 2px solid #ec008c;

          &:last-child {
            cursor: pointer;
          }
        }
      }

      .title {
        font-size: 13px;

        a {
          color: #0f74c4;
          margin-left: 40px;
        }
      }

      .featuresList {
        margin: 50px 0 30px;
        list-style: none;
        padding: 0;

        li {
          color: #686868;
          font-size: 14px;
          margin-bottom: 10px;

          span {
            margin-left: 8px;
          }
        }
      }

      .sending {
        display: flex;
        align-items: center;
        border-top: 1px solid #aaa;
        padding: 10px 0;
        margin-left: 70px;
        font-size: 13px;
        color: #696969;

        span {
          margin-left: 5px;
        }
      }

      .discount {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        height: 30px;
        color: #ec008c;
      }
    }

    .footerDetail {
      padding: 20px 0 30px;
      border-top: 1px solid #ddd;

      .price {
        font-size: 20px;
        margin-bottom: 40px;

        span {
          margin-right: 5px;
          color: green;
          font-size: 22px;

          sub {
            margin-right: 5px;
          }
        }
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        align-items: end;
        padding-left: 50px;

        div {
          display: flex;
          align-items: center;

          .form-label {
            width: 80px;
            font-size: 13px;
            color: #696969;
            margin-bottom: 0;
          }

          .form-select {
            width: 140px;
            border-radius: 0;
            border-color: #d4dbde;
          }
        }

        .btnShop {
          width: auto;
          margin-top: 20px;
        }
      }

      .footer-end-link {
        text-decoration: none;
        color: #0f74c4;
      }
    }
  }
}

/* Sliders */
.product-slider {
  position: relative;
}

.product-prev,
.product-next {
  position: absolute;
  top: 80px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #eee;
  z-index: 99;
}

.product-prev {
  right: 0;
}

.product-next {
  left: 0;
}

.thumbnail-container {
  overflow: hidden;

  .thumbnail-swiper {
    margin: 0;
    flex-grow: 1;

    img {
      cursor: pointer;
      width: 100%;
      border: 1px solid #f1f1f1;

      &.border-red {
        border: 1px solid red;
      }
    }
  }
}

/* Media Queries */
@media (min-width: 568px) {
  .PopularProduct {
    top: 8px;
  }

  .title {
    font-size: 16px !important;
  }
  .productName {
    font-size: 18px !important;
  }
  .subTitle {
    .rating {
      svg {
        font-size: 20px !important;
      }
      &::after {
        height: 25px !important;
      }
    }
    .model {
      font-size: 13px !important;
    }
  }
}

@media (min-width: 768px) {
  .form-group {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 50px;
    margin: 25px 0 !important;
  }

  .btnShop {
    margin-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .form-group {
    flex-direction: column !important;
    align-items: end;
    padding-left: 50px;
    margin: 5px 0 !important;
  }

  .btnShop {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .form-group {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 50px;
    margin: 25px 0 !important;
  }

  .btnShop {
    margin-top: 0 !important;
  }
}
.tabSection {
  .container {
    background-color: white;
    padding: 0;
  }
  .col {
    padding: 0;
  }
  .nav {
    border-bottom: 1px solid #630460;
    margin-bottom: 20px;
  }
  .nav-item a {
    border: 0;
    border-radius: 0;
    color: #000;
    font-size: 16px;
    padding: 20px 0px;
    text-align: center;
    &:hover {
      background-color: #ec008c;
      color: #fff;
    }
  }
  .nav-item a.active {
    background-color: #630460;
    color: #fff;
  }
  .tab-pane {
    padding: 30px;
    .title {
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 16px;
    }
  }
  .full-specification {
    .list-group {
      border-radius: 0;
      border-top: 1px solid #d4dbde;
      margin-bottom: 40px;
    }
    .list-group-item {
      border: 1px solid #d4dbde;
      border-top: 0;
      background-color: #fff;
      padding: 15px 20px;
      font-size: 14px;
    }
  }
  form {
    textarea {
      border-radius: 2px;
      border: 1px solid #d4dbde;
      height: 135px;
      text-align: right;
      font: 14px IRANSans;
      color: #555;
      padding: 11px;
      box-sizing: border-box;
      margin-bottom: 14px;
      margin-top: 12px;
      direction: rtl;
      width: 100%;
    }
    .form-select,
    .form-control:not(textarea) {
      border-radius: 2px;
      border: 1px solid #d4dbde;
      width: 100%;
      text-align: right;
      direction: rtl;
      font-size: 15px;
      font-weight: 500;
      color: #555;
      padding: 11px;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 12px 0px 14px;
      height: 50.4px;
    }
    .form-check {
      margin: 8px 0px;
      font-size: 15px;
    }
    .form-check-input {
      width: 12px;
      height: 12px;
      border: 0;
      outline: 1px solid #d4dbde;
      &:checked {
        outline: 1px solid #0d6efd;
        border: 2.5px solid #fff;
      }
    }
    button {
      width: 140px;
    }
  }
  @media (max-width: 1024px) {
    .tab-pane {
      padding: 10px;
    }
    .tab-pane h5 {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    .nav > .col:nth-child(-n + 2) {
      border-bottom: 2px solid #f1f1f1;
    }
    .nav > .col:nth-child(odd) {
      border-left: 2px solid #f1f1f1;
    }
  }
  @media (max-width: 450px) {
    .nav-item a {
      color: #000;
      font-size: 14px;
    }
    form button {
      width: 100%;
    }
    .tab-pane h5 {
      font-size: 14px;
    }
    .tab-pane .title {
      font-size: 14px;
    }
  }
}

.similarSection {
  .container {
    background-color: #fff;
    margin-bottom: 10px;
  }
  .title{
    padding-bottom: 25px;
    margin-bottom: 0;
  }
  .similar-prev,
  .similar-next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ededed;
    cursor: pointer;
    z-index: 10;
  }
  .similar-prev {
    right: -10px;
  }

  .similar-next {
    left: -10px;
  }
  @media screen and (min-width: 576px) {
    .similar-prev {
      right: -25px;
    }
    .similar-next {
      left: -25px;
    }
  }
  @media screen and (min-width: 1200px) {
    .similar-prev {
      right: -10px;
    }

    .similar-next {
      left: -10px;
    }
  }
}
.ProductsSwiper {
  padding-bottom: 40px;
}
