
/* login */

.Account .loginBtn {
    width: 65px;
  }
  .Account form.login .form-text {
    font-size: 13px;
    color: #999 !important;
  }
  .Account form.login a {
    font-size: 12px;
    color: #999;
    text-decoration: none;
    transition: color 0.3s;
  }
  .Account form.login a:hover {
    color: #ec008c;
  }
  